Hotel_Project/[Oo]bj/
.vs/
*.vs/
/.vs/
*/.vs/
.vs/Hotel_Project/v17/.suo
[Bb]in/
Hotel_Project/[Oo]bj/
*/[Bb]in/
*/Hotel_Project/[Oo]bj/
*[Bb]in/
*/Hotel_Project/[Oo]bj/
[Bb]in/
*.suo
*.user
*.vsidx
*.cache
.suo
.v2
/Hotel_Project/obj/Debug/net6.0/Hotel_Project.assets.cache
/.vs/Hotel_Project/v17/.suo
/Hotel_Project/obj/Debug/net6.0/Hotel_Project.csproj.FileListAbsolute.txt
