.vs/Arezoo
*.vs/Arezoo
.vs/
*.vs/
/.vs/
*/.vs/
/.vs/Hotel_Project/v17/.suo
[Bb]in/
Hotel_Project/[Oo]bj/
*/[Bb]in/
*/Hotel_Project/[Oo]bj/
*[Bb]in/
*/Hotel_Project/[Oo]bj/
[Bb]in/
Hotel_Project/[Oo]bj/
*.suo
*.user
*.vsidx
*.cache
.suo
.v2
